<div class="ec-productRole">
  <div class="product-customer">
    <div class="product-customer-detail">
        <div class="product-customer-left">
            <div class="slick-main">
                <% @product.images.each do |image| %>
                    <% if image %>
                        <div class="slick_slide"><%= image_tag image.variant(resize: "545x560") %></div>
                    <% end %>
                <% end %>
            </div>
             <div class="slick-thumbnail">
                <% @product.images.each do |image| %>
                    <% if image %>
                        <div class="slick_slide"><%= image_tag image.variant(resize: "100x120") %></div>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="product-customer-right">
          <div class="product-customer-desc">
            <h3 class="product-customer-name">
                <%= @product.name %>
            </h3>
            <p class="product-price-customer"><%= number_to_currency(@product.taxin_price, strip_insignificant_zeros: true) %><span class="taxin">(税込)</span></p>
            <div class="product-color">
                <p>カラー：</p>
                <p><%= @product.color %></p>
            </div>
            <div class="product-stock">
                <p class="stock">在庫：</p>
                <% if @product.stock > 1 && @product.stock < 5 %>
                    <p class="stock">残りわずか△(<%= @product.stock %>個)</p>
                <% elsif @product.stock == 0 %>
                    <p>売り切れ×</p>
                <% else %>
                    <%= @product.stock %>
                <% end %>
            </div>
            <div class="product-add-cart-field">
                <%= form_with model: @cart, url: carts_path(@cart), data: {turbo: false} do |f| %>
                    <div class="product-quantity">
                        <p>数量：<%= f.number_field :quantity, min: 1, max: @product.stock, value: 1, class: "quantity-form" %></p>
                    </div>
                    <% if @product.stock == 0 %>
                        <div class="alert-danger mssg-no-add-cart">
                            <p>在庫数が0です。カートに追加できません。</p>
                        </div>
                    <% end %>
                    <%= f.hidden_field :product_id, value: @product.id %>
                    <%= f.submit "カートに入れる", class: "ec-blockBtn--action add-cart" %>
                <% end %>
                <div class="ec-modal" style="display: none;">
                    <div class="ec-modal-overlay">
                        <div class="ec-modal-wrap">
                            <span class="ec-modal-close"><span class="ec-icon"><i class="fa-solid fa-xmark fa-xl" style="color: #85898e;"></i></span></span>
                            <div id="ec-modal-header" class="text-center">カートに追加しました。</div>
                            <div class="ec-modal-box">
                                <div class="ec-role">
                                    <%= link_to "お買い物を続ける", product_path, class: "ec-inlineBtn--cancel" %>
                                    <%= link_to "カートへ進む", carts_path, class: "ec-inlineBtn--action" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-button-favorite" id="favorite_buttons_<%= @product.id %>">
                <%= render 'customer/favorites/favorites', product: @product  %>
            </div>
          </div>
        </div>
    </div>
    <div class="product-costomer-center">
      <p class="product-description-title">商品説明</p>
      <p class="product-description-sen"><%= @product.description %></p>
    </div>
</div>
</div>
<% if current_user && @product.stock != 0 %>
    <script>
        $(".add-cart").click(function() {
            $(".ec-modal").css("display", "block");
        });

        $(".ec-modal-close").click(function() {
            $(".ec-modal").css("display", "none");
        });
    </script>
<% end %>
 