<div class="ec-admin-product">
  <div class="product-register-header">
    <h2 class="title">商品一覧</h2>
  </div>

  <div class="admin-pro-body">
    <div class="add-product">
      <%= link_to new_admin_product_path, class: "add-product-link" do %>
        商品の追加
      <% end %>
    </div>
    <table class="products-items">
      <thead class="product-title">
        <tr>
          <th class="product-delete"></th>
          <th class="product-imageAndName">商品画像 & 商品名</th>
          <th class="price">価格</th>
          <th class="createdAt">作成日</th>
          <th class="updatedAt">更新日</th>
          <th class="dummy"></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr class="each-product">
            <td class="batsu-delete"><%= button_to admin_product_path(product), method: :delete, remote: true,  form: { onSubmit: "return confirmDelete();"},
              id: "delete_btn" do %>
              <i class="fa-solid fa-xmark fa-xs" style="color: #85898e;"></i>
            <% end %>
            </td>
            <td class="product-admin-img_name">
              <%= link_to admin_product_path(product), class: "product-link" do %>
                <div class="img_and_name">
                  <%= image_tag product.images.first, class: "product-image" %>     
                  <div class="product-name">
                    <h6><%= product.name %></h6>
                  </div>
                </div>
              <% end %>
            </td>
            <td class="products-admin-list-item">
              <p><%= number_to_currency(product.price, strip_insignificant_zeros: true) %></p>
            </td>
            <td class="products-admin-list-item">
              <span><%= l product.created_at, format: :short %></span>
            </td>
            <td class="products-admin-list-item">
              <span><%= l product.updated_at, format: :short %></span>
            </td>
            <td class="products-admin-list-item">
              <%= link_to edit_admin_product_path(product), class: "product-edit-link" do %>
                編集
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="product-paginate"><%= paginate @products %></div>
  </div>
</div>
<script>
    function confirmDelete() {
    return confirm("本当に削除しますか？");
    }
</script>
