<div class="ec-productRole">
  <div class="product-customer">
    <div class="product-customer-detail">
        <div class="product-customer-left">
            <div class="slick-main">
              <% @product.images.each do |image| %>
                  <div class="slick_slide"><%= image_tag image.variant(resize: "545x560") %></div>
              <% end %>
            </div>
             <div class="slick-thumbnail">
                <% @product.images.each do |image| %>
                    <div class="slick_slide"><%= image_tag image.variant(resize: "100x120") %></div>
                <% end %>
            </div>
        </div>

        <div class="product-customer-right">
          <div class="product-customer-desc">
            <h3 class="product-customer-name">
                <%= @product.name %>
            </h3>
            <p class="product-price-customer"><%= number_to_currency(@product.price, strip_insignificant_zeros: true) %></p>
            <div class="product-color">
                <p>カラー：</p>
                <p><%= @product.color %></p>
            </div>
            <div class="product-stock">
                <p>在庫：</p>
                <% if @product.stock < 5 %>
                    <p class="stock">残りわずか</p>
                <% else %>
                    <%= @product.stock %>
                <% end %>
            </div>
            <div class="product-brand">
                <p>ブランド：</p>
                <p><%= @product.brand %></p>
            </div>
            <div class="product-shape">
                <p>形：</p>
                <p><%= @product.shape %></p>
            </div>
            <div class="product-carrying_style">
                <p>持ち方：</p>
                <p><%= @product.carrying_style %></p>
            </div>
            <div class="product-style">
                <p>テイスト：</p>
                <p><%= @product.style %></p>
            </div>
            <div class="product-closure_method">
                <p>開閉方法：</p>
                <p><%= @product.closure_method %></p>
            </div>
             <div class="product-category">
                <p>カテゴリー：</p>
                <p><%= @product.category_id %></p>
            </div>
            <div class="product-release_flag">
                <p>公開設定：</p>
                <p><%= @product.release_flag %></p>
            </div>
             <div class="editAndList-link">
              <%= link_to edit_admin_product_path(@product), class: "product-edit-link" do %>
                商品の編集
              <% end %>
              | <%= link_to "商品一覧", admin_products_path %>
            </div>
          </div>
        </div>
    </div>
    <div class="product-costomer-center">
      <p class="product-description-title">商品説明</p>
      <p class="product-description-sen"><%= @product.description %></p>
    </div>
  </div>
</div>

