<div class="ec-wholePage">
  <div class="ec-pageHeader">
    <h2 class="title">パスワードの再発行</h2>
  </div>

  <div class="ec-formBody">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="ec-borderedDefs">
        <div class="ec-reset-messg">
          <p>ご登録時のメールアドレスを入力して「送信する」ボタンをクリックしてください。<br />
          ※パスワード再発行メールを送信します。メールの内容をご確認の上、新しいパスワードを登録してください。</p>
        </div>
        <div class="error-mssg">
          <%= render "shared/error_messages", resource: resource %>
        </div>
     
        <dl class="element ec-send-email">
          <dt class="element-label">
            <%= f.label :email, 'メールアドレス', class: "control-label" %>
            <span class="ec-required">必須</span>
          </dt>
          <dd class="element-form">
            <div class="ec-field">
              <%= f.email_field :email, placeholder: "例：abc@example.com", autocomplete: "email", class: "form-control w90" %>
            </div>
          </dd>
        </dl>
        <div class="ec-send-email-btn actions">
          <%= f.submit "送信する", class: "btn-email btn-dark" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
