<header class="ec-headerNaviRole">
    <div class="header-inner">

        <div class="ec-headerNavi_left">
            <div class="ec-header-logo">
                <%= link_to "Online Store", root_path, id: "link_logo" %>
            </div>
        </div>

        <div class="ec-headerNavi_center">
            <div class="ec-headerSearch">
                <%= render 'searches/header_search' %>
            </div>
        </div>

        <div class="ec-headerNavi_right">

            <nav class="navbar">
                <div id="navbar-toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar-menu">
                    <% if current_user && current_user.admin? %>
                        <li><%= link_to "商品一覧(管理)", admin_products_path, id: "link_admin_product_list_header" %></li>
                        <li><%= link_to "商品登録", new_admin_product_path, id: "link_admin_product_new_header" %></li>
                        <li><%= link_to "注文履歴(管理)", admin_order_history_path, id: "link_admin_order_history_new_header" %></li>
                        <li><%= link_to "ログアウト", destroy_user_session_path, id: "link_admin_logout_header" %></li>
                    <% else %>
                        <li>
                            <%= link_to mypage_path, class: "header-icon" do %>
                                <i class="fa-regular fa-circle-user fa-xl header-list" style="color: #ffffff;"></i>
                                <span class="icon-name"> マイページ</span>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to carts_path, class: "header-icon" do %>
                                <i class="fa-solid fa-cart-shopping fa-xl header-list" style="color: #ffffff;"></i>
                                <span class="icon-name">カート</span>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to favorites_path, class: "header-icon" do %>
                                <i class="fa-regular fa-star fa-xl header-list" style="color: #ffffff;"></i>
                                <span class="icon-name">お気に入り</span>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to order_history_path, class: "header-icon" do %>
                                <i class="fa-regular fa-clipboard fa-xl header-list" style="color: #ffffff;"></i>
                                <span class="icon-name">注文履歴</span>
                            <% end %>
                        </li>
                    <% end %>
                </ul>

                <div class="hidden-menu">
                    <ul>
                        <li><%= render 'searches/header_search' %></li>
                        <% if current_user && current_user.admin? && !(current_user == @user) %>
                            <li><%= link_to "商品一覧", admin_products_path, id: "link_admin_product_list" %></li>
                            <li><%= link_to "商品登録", new_admin_product_path, id: "link_admin_product_new" %></li>
                             <li><%= link_to "注文履歴(管理)", admin_order_history_path, id: "link_admin_order_history_new_header" %></li>
                        <% else %> 
                            <li><%= link_to "TOP", root_path, id: "link_top" %></li>
                            <li><%= link_to "マイページ", mypage_path, id: "link_mypage" %></li>
                            <li><%= link_to "カート", customer_carts_index_path, id: "link_cart" %></li>
                            <li><%= link_to "お気に入り", favorites_path, id: "link_favorite" %></li>
                            <li><%= link_to "注文履歴", order_history_path, id: "link_order_history" %></li>
                        <% end %>
                        <% if !user_signed_in? %>
                            <li><%= link_to "ログイン", mypage_login_path, id: "link_login" %></li>
                            <li><%= link_to "新規会員登録", sign_up_path, id: "link_sign_up" %></li>   
                        <% else %>
                            <li><%= link_to "ログアウト", destroy_user_session_path, id: "link_logout" %></li>
                        <% end %>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>